h1{
  text-align: center;
}
img {
  float:left;
  size: 50%;
}
p {
  float: left;
  font-weight: bolder;
}
div.sidebar{
  float:right;
  width:10%;
  background-color: rgb(43, 103, 138);
}
div.column{
  width:500px;
  text-align: center;
  float:left;
}
body{
  background-color: rgb(66, 37, 37);
}