div.top {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
div.sidebar{
  float:right;
  width:10%;
  background-color: rgb(43, 103, 138);
  border: double;
  list-style:disc;

  text-align: center;
}
div.column{
  width:500px;
  float:left;
  text-align: center;
}
body{
  background-color: rgb(66, 37, 37);
}